.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100, 2fr));
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  padding: 10px;
  margin: 20px;
}
.drawerlabel {
  justify-items: center;
}
.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

